spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/digital_wallet
    username: your_username
    password: your_password
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true